@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: green;
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
	font-weight: 100;
}

h2 {
	color: green;
	text-decoration: underline;
	float: right;
	display: block;
	margin: 0 auto;
	margin-top: -25%;
}

.container {
	display: block;
	margin:  0 auto;
	font-size:15px;
	font-weight: 100;
	
}

.container h1 {
	text-align:center;

}
fieldset {
	border: 2px solid green;
	width:45%;
	
	border-radius: 6px;
	min-height:350px;
	height: 60%;
}


legend {
	color: green;
	font-size:35px;
}


.toogle {
	border:2.5px solid green;
	border-radius: 50%;
	width:40px;
	height:40px;
	padding:1px;
	background-color: #ffffff;
	margin-top: 50px;
}

.fas {
	margin: 50px;	
}


dd {
	color: green;
	margin-top:-75px;
	font-size: 20px;
	margin-left: 20%;

}
.map {
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);	
	float: right;
	width: 70%;
}


iframe {
	margin-left: -43%;
}


.where {
	float: right;
	margin-top: -30%;
}


.lWhere {
	background-color: green;
	color: white;
	width: 75%;
	border-radius: 16px;
}



