@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: green;
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
	font-weight: 100;
}

h2 {
	color: green;
	text-decoration: underline;
	float: right;
	display: block;
	margin: 0 auto;
	margin-top: -25%;
}

.container {
	display: block;
	margin:  0 auto;
	font-size:15px;
	font-weight: 100;
	
}

.container h1 {
	text-align:center;

}
fieldset {
	border: 2px solid green;
	width:45%;
	
	border-radius: 6px;
	min-height:350px;
	height: 60%;
}


legend {
	color: green;
	font-size:35px;
}


.toogle {
	border:2.5px solid green;
	border-radius: 50%;
	width:40px;
	height:40px;
	padding:1px;
	background-color: #ffffff;
	margin-top: 50px;
}

.fas {
	margin: 50px;	
}


dd {
	color: green;
	margin-top:-75px;
	font-size: 20px;
	margin-left: 20%;

}
.map {
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);	
	float: right;
	width: 70%;
}


iframe {
	margin-left: -43%;
}


.where {
	float: right;
	margin-top: -30%;
}


.lWhere {
	background-color: green;
	color: white;
	width: 75%;
	border-radius: 16px;
}

hr {
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    width: 100%;
    margin-top: 75px;
    background-color: green;
}

.vertical {
	border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;    
     background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    margin-top: -35%;
    text-align: center;
    margin-left: 49%;

}


table {
	border-collapse: collapse;
	color: forestgreen;

}

table td {
	background-color: white;
	color: forestgreen;
	width: 25%;
	text-transform: uppercase;
	text-align: center;
}


table tr {
	border: 1px solid green;
	color: forestgreen;
}

.small {
	width: 2%;
}
