@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: green;
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
	font-weight: 100;
}

.container {
	display: block;
	margin:  0 auto;
	font-size:15px;
	font-weight: 100;
	
}

.container h1 {
	text-align:center;

}
fieldset {
	border: 2px solid green;
	width:55%;
	height: 250px;
	border-radius: 6px;
	min-height:350px;
	height: 100%;
}


legend {
	color: green;
	font-size:35px;
}


.toogle {
	border:2.5px solid green;
	border-radius: 50%;
	width:64px;
	height:64px;
	padding:1px;
	background-color: #ffffff;
}

.fas {
	margin: 50px;	
}


dd {
	color: green;
	margin-top:-75px;
	font-size: 28px;
	margin-left: 20%;

}